* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 50vh;
    background-image: url(back.jpg);
    box-shadow: inset 50px 50px 250px #000000, inset -50px -50px 2500px #000000;
    background-position: fixed;
    background-size: cover;
}

#heading {
    text-align: center;
}

#budget {
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
}

#total {
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
}

#income {
    color: #fff;
    width: 250px;
    font-size: 20px;
    height: 30px;
    text-align: justify;
    margin-left: 43%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    text-transform: uppercase;
    background-color: #5cb85c;
}

#spend {
    color: #fff;
    width: 250px;
    font-size: 20px;
    height: 30px;
    text-align: justify;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 14px;
    margin-left: 43%;
    text-transform: uppercase;
    background-color: #d9534f;
}

.row {
    padding: 10px;
}

#plus-minus {
    width: 60px;
}

#main-0 {
    background-color: #5cb85c;
    color: #fff;
    font-weight: lighter;
}

#main-1 {
    background-color: #d9534f;
    color: #fff;
    font-weight: lighter;
}

.cross:hover {
    display: inline-block;
}